/.idea
/vendor
/server/logs/*
/server/sessions/*
/server/stat/*
/server/temp_files/*
/server/uploads/*
/server/black_dates.txt
/backup/*
/cache/*
/node_modules
/js
/public/js-old/
/public/ckeditor/
/public/ckeditor_basic/
/public/css/
/public/fonts/
/public/js/
/public-old/